body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;
    background: rgb(238, 238, 238);
    height: 100vh;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    flex-basis: 100%;
}

footer {
    background: rgb(102, 102, 102);
    flex-basis: 100%;
    padding: 0 20px;
    color: rgb(255, 255, 255);
}